extends layout

block content
  .wrapper
    h1 About #{site.title}
    p A collection of down to earth mistakes devs have made in an attempt to help developers and designers know that it's a common issue to do so. Helping their confidence and proving they're not alone betters their chances of carrying on through the speed bumps.
    p You can find the source code #[a(href=project.github) on Github]. It's under a MIT license so feel free to do whatever you like with it, including bettering it and submitting pull requests with your own examples! 
