extends layout

block content
  .frame
    .inner
      .quote
        .message
        | Loading…
      strong.quote--author
        
      .actions
        a.button.button--refreshQuote(href='#') Refresh
