@mixin transition($transition) {
  -webkit-transition: $transition;
  -moz-transition: $transition;
  -ms-transition: $transition;
  -o-transition: $transition;
  transition: $transition;
}

$clr_text: rgb(255, 255, 255);
$clr_bg: rgb(4, 109, 139);
$clr_code: rgb(102, 190, 215);
$clr_link: rgb(201, 228, 236);

html,
body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Crete Round', serif;
  font-size: 20px;
  background-color: $clr_bg;
  color: $clr_text;
}

.wrapper {
  margin: 0 auto;
  width: 90%;
  max-width: 900px;
}

.frame {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  .inner {
    width: 400px;
    position: relative;
  }
}

.actions {
  position: absolute;
  bottom: 80px;
  text-align: center;
}

.button {
  @include transition(all 0.3s ease-in);
  cursor: pointer;
  outline: none;
  display: inline-block;
  border: 2px solid $clr_link;
  background-color: transparent;
  color: $clr_link;
  font-family: inherit;
  font-size: 16px;
  font-weight: bold;
  width: 100px;
  margin: 20px 0;
  padding: 10px 20px;
  border-radius: 4px;
  text-decoration: none;

  + .button {
    margin-left: 20px;
  }

  &:hover {
    border-color: $clr_text;
    color: $clr_text;
  }

  &--primary {
    background-color: $clr_link;
    color: $clr_bg;

    &:hover {
      background-color: $clr_text;
      color: $clr_bg;
    }
  }
}

a {
  @include transition(color 0.3s ease-in);
  color: $clr_link;

  &:hover {
    color: $clr_text;
  }
}

code {
  background: $clr_code;
  padding: 4px 8px;
  border-radius: 4px;
  margin-right: 2px;
}

.madeby {
  // FIX on mobile
  position: absolute;
  bottom: 20px;
  left: 25%;
  width: 50%;
  // margin: 0 auto;
  // text-align: center;
  font-size: 16px;

  & {
    @include transition(color 0.3s ease-in);
    color: $clr_link;
  }
}

.right {
  float: right;
  text-align: right;
}
